@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #45b649, #dce35b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.calculator {
  background: whitesmoke;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
  margin: 0;
}

/* Display */
.calculator-display {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 12px 12px 0 0;
}